<!-- web.xml -->
<web-app>
 <servlet>
  <servlet-name>dispatcherservlet</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <init-param>
   <param-name>contextConfigLocation</param-name>
   <param-value> /WEB-INF/applicationContext-web.xml,
                               /WEB-INF/applicationContext-dao-jdbc.xml
  </param-value>
  </init-param>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>dispatcherservlet</servlet-name>
  <url-pattern>*.spring</url-pattern>
 </servlet-mapping>
</web-app>